<div id="map"></div>
<div class="content-wrapper">

    <div class="input-container">
        <input id="pac-input" type="text" class="google-place-input" google-place (onSelect)="setAddress($event)"
            placeholder="ค้นหาร้านอาหาร">
        <!-- <label>โปรดรอสักคู่การค้นหาขัอมูลอาจมีการช้า</label> -->
        <ul style="list-style-type: none;">
            <li *ngFor="let key of addrKeys">
                <span style="font-weight: bold">{{key}} </span>: <span>{{addr[key]}}</span>
            </li>
        </ul>
    </div>

    <div *ngFor="let d of data">
        <div class='list-group-item'>
            <img src="{{d.icon}}" style="float: left;" />
            <p>{{d.name}}</p>
            <a target="_blank" href="{{d.location}}" *ngIf="!d.location == ''">คลิกดูพิกัดร้านอาหารบน google map</a>
            <a target="_blank" href="http://www.google.com/maps/place/{{d.locationslatlng}}" *ngIf="d.location == ''">คลิกดูพิกัดร้านอาหารบน
                google map</a>
            <p><b>ที่อยู่ร้าน: </b>{{d.vicinity}}</p>
            <p><b>Location: </b>{{d.locationslatlng}}</p>
        </div>
    </div>

</div>