<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header" style="padding:0;position:relative;">
                <img src="assets/images/res1.jpg" style="height: 230px" class="img-responsive" alt="profile">
            </li>
            <li class="header">Menu</li>
            <li class="treeview" routerLinkActive="active">
                <a routerLink="/transaction" class="linkCustom">
                    <i class="fa fa-money"></i>
                    <span style="font-size: 18px;"> ค้นหาร้านอาหาร</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
        </ul>
    </section>
</aside>